.AppbarLogo {
    height: 36px;   
    width: auto;
}
    /* 
    .AppbarLeft {
        display: flex;
        height: 64px;
        align-items: center;
        justify-content: flex-start;
    }

    .AppbarLeft img {
        margin: 0;
    }

    #undefined-undefined-Ready-53312 {
        margin-top: 0 !important;
    } */