.AppbarLogo {
    height: 36px;  
    margin-right: 35px;
    width: auto;
}

.selectFieldMenu {
    height: 55px !important;
}
   
.AppbarLeft {
    height: 64px;
} 
.AppbarLeft img {
    margin-top: 0;
}
