 /* item -card 


.item-card {
  background-color: #fff;
  margin: 8px;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  padding: 0;
}

@media(min-width: 576px) {
  .item-card {
    width: calc(50% - 16px);
  }
}

@media(min-width: 768px) {
  .item-card {
    width: calc(33% - 24px);
  }
} */